<div class = "in-calorie-show">
  <% @meals.each do |meal| %>
    <% if Date.current.strftime('%Y/%m/%d') == meal.created_at.strftime('%Y/%m/%d') %>
      <h3 class = >
        <%= meal.explanation %>
        <%= meal.calorie %>kal
      </h3>
    <% end %>
  <% end %>
</div>