<h1>Exercises#index</h1>
<p>Find me in app/views/exercises/index.html.erb</p>
<%= render "shared/header" %>


<div class="price-content">
  <%= link_to(new_exercise_path) do %>
    <span class='purchase-btn-text'>運動記録</span>
  <% end %>
</div>

<div class="price-content">
  <%= link_to(new_meal_path) do %>
    <span class='purchase-btn-text'>食事記録</span>
  <% end %>
</div>
