<!DOCTYPE html>
<html>
  <head>
    <title>Dieter36044</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
     <%=javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
